In [3]:
import pandas as pd

In [6]:
Heroes = "Resources/purchase_data.csv"
heroes_df =pd.read_csv(Heroes)
heroes_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [7]:
heroes_df.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [10]:
heroes_df["SN"].value_counts()[0:10]

Lisosia93       5
Idastidru52     4
Iral74          4
Pheodaisun84    3
Idai61          3
Chamjask73      3
Zontibe81       3
Sondastsda82    3
Saedaiphos46    3
Chadolyla44     3
Name: SN, dtype: int64

In [14]:
heroes_df["SN"].count()

780

In [17]:
uniquePlayers = heroes_df["SN"].nunique()
uniquePlayers

576

In [19]:
heroes_df["Item ID"].nunique()

183

In [27]:
totalPurchases = heroes_df["Item ID"].count()
totalPurchases

780

In [30]:
avePrice = heroes_df.Price.mean()
avePrice

3.050987179487176

In [31]:
totalRevenue = heroes_df.Price.sum()
totalRevenue

2379.77

In [32]:
Summary = pd.DataFrame()
Summary

Empty DataFrame
Columns: []
Index: []

In [35]:
heroes_df.Gender.nunique()

3

In [39]:
heroes_df.Gender.value_counts()

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [42]:
groupGender = heroes_df.groupby("Gender")
type (groupGender)

pandas.core.groupby.generic.DataFrameGroupBy

In [45]:
groupGender.mean()

                       Purchase ID        Age    Item ID     Price
Gender
Female                  379.380531  21.345133  85.477876  3.203009
Male                    392.516871  22.917178  93.524540  3.017853
Other / Non-Disclosed   334.600000  24.200000  80.800000  3.346000

In [47]:
groupGender.Price.count()

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Price, dtype: int64

In [49]:
groupGenderTotal = groupGender.Price.sum()
groupGenderTotal

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [50]:
groupGenderAvg = groupGender.Price.mean()
groupGenderAvg

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [51]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 200]
groups = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "34-39", "40+"]

In [66]:
heroes_df["Age Group"] = pd.cut(heroes_df.Age, bins, labels=groups)
heroes_df["Age Group"].head(10)

0    20-24
1      40+
2    20-24
3    20-24
4    20-24
5    20-24
6    34-39
7    20-24
8    20-24
9    34-39
Name: Age Group, dtype: category
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 34-39 < 40+]

In [71]:
ageGroup = heroes_df["Age Group"].value_counts()
ageGroup

20-24    365
15-19    136
25-29    101
30-34     73
34-39     41
10-14     28
<10       23
40+       13
Name: Age Group, dtype: int64

In [75]:
groupAgeCount = ageGroup.groups.counts()

AttributeError: 'Series' object has no attribute 'groups'

SyntaxError: invalid syntax (<ipython-input-77-7e6efc3d011e>, line 1)